@import url("https://fonts.googleapis.com/css?family=Arimo");

* {
  box-sizing: border-box;
}
:root {
  --gray-black: rgb(65, 65, 65);
  --gray-light: #666;
  --widget-links: rgb(247, 167, 20);
  --up: green;
  --down: red;
}
body {
  color: var(--gray-light);
  font-family: "Arimo", sans-serif;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

/* div,
header,
footer,
nav,
h1,
h2 {
  border: 1px red solid;
} */
h1,
h2,
h3 {
  margin: 0px;
  color: var(--gray-black);
}

/* General Page Layout Settings */
.container {
  max-width: 968px;
  margin: auto;
  display: grid;
}

/* General Widget Settings */
.widget {
  padding: 20px;
  /* border: 1px var(--gray-black) solid; */
}
.widget a:link,
.widget a:hover,
.widget a:visited {
  color: var(--widget-links);
  text-decoration: none;
}
.widget_content-area {
  display: grid;
}
.light-text {
  color: var(--gray-light);
}
.ticker {
  color: var(--down);
}

/* Company Details Component Settings */
.company-quick-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.company-quick-view_pricing h2 {
  font-size: 50px;
}
.company-quick-view_pricing {
  justify-content: end;
}
.green {
  color: green;
}
.red {
  color: red;
}
.key-value {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.company-description {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
.parameter-name {
  font-weight: 700;
}
.summary {
  margin-top: 0px;
  line-height: 1.5;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .key-value {
    grid-template-columns: 1fr;
  }
}
.news-story-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.datetime {
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}
